.danger {
    background-color: #e03531;
}

.warning {
    background-color: #f0bd27;
    color: #212529 !important;
}

.success {
    background-color: #51b364;
}

.dark {
    background-color: #212529;
}