.cardGrid {
    display: grid;
    grid-gap: .5rem;
    grid-row-gap: .5rem;
    grid-template-columns: repeat(2, 1fr);
}

.ungroupedGrid {
    display: grid;
    grid-gap: .5rem;
    grid-row-gap: .5rem;
    grid-template-columns: repeat(1, 1fr);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .cardGrid {
        grid-template-columns: repeat(2, 1fr);
    }

    .ungroupedGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .cardGrid {
        grid-template-columns: repeat(3, 1fr);
    }

    .ungroupedGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .cardGrid {
        grid-template-columns: repeat(4, 1fr);
    }

    .ungroupedGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .cardGrid {
        grid-template-columns: repeat(5, 1fr);
    }

    .ungroupedGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}
